@import "normalize.css";

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --color-text: #000;
  --color-muted: #888;
  --color-border: #dedede;
  --page-gutter: 15px;
  --font-size-default: 16px;
  --font-size-small: 14px;
}

body {
  font-family: 'Inter';
  font-size: var(--font-size-default);
  color: var(--color-text);
}

.container {
  margin: 0 auto;
  padding-right: var(--page-gutter);
  padding-left: var(--page-gutter);
  max-width: calc(1200px + (var(--page-gutter) * 2));
}

.page-container {
  margin-bottom: 40px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a {
  color: var(--color-text);
}

img {
  max-width: 100%;
}

.quantity-controller {
  display: flex;
  margin-bottom: 15px;
}

.quantity {
  width: 35px;
  text-align: center;
  appearance: none;
  -moz-appearance: textfield;
  border: 1px solid var(--color-border);
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty-btn {
  padding: 8px;
  appearance: none;
  border: none;
  background-color: var(--color-border);
  cursor: pointer;
}

.qty-btn--minus {
  border-radius: 3px 0 0 3px;
}

.qty-btn--add {
  border-radius: 0 3px 3px 0;
}
